.u-pb0 {
  padding-bottom: 0;
}

.u-pl16 {
  padding-left: 16px;
}

.mdl-button--fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.mdl-selectfield h6 {
  margin: 0;
  font-size: 14px;
}

.mdl-selectfield select {
  width: 100%;
  height: 20px;
  line-height: 20px;
}

a.mdl-card {
  text-decoration: none;
}

.mdl-card.fullscreen {
  width: 100%;
}

.mdl-card.fullscreen .mdl-card__section {
  padding: 16px;
}

.mdl-card.fullscreen .mdl-card__section {
  padding: 16px;
}

.mdl-card.fullscreen .mdl-card__supporting-text{
  padding: 8px 0 0 0;
}

.mdl-card.fullscreen .mdl-card__subtitle-text{
  padding: 0;
}

.mdl-card__section {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.mdl-card__subtitle-text {
  font-style: italic;
  font-weight: bold;
}

.status_txt {
  font-style: italic;
  text-transform: uppercase;
}
.status_txt.danger {
  color: red;
}
.status_txt.warning {
  color: orange;
}
.status_txt.safe {
  color: green;
}
